<h1>New rating</h1>
<p>
  <strong>User:</strong>
  <%= @user.profile.first_name %> <%= @user.profile.last_name %>
</p>

<%= render 'form_borrower' %>

<%= link_to 'Back', transaction_uratings_path, class: "btn btn-warning" %>
