<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag 'pages'%>
    </head>

    <body>
        <section class="container white shadow p-3 mb-5 bg-white rounded" id="main_body">
            <div class="pages_title_panel">
                <h1 class="title_formatting"><b>Get in touch</b></h1>
            </div>

            <div class="subheading">
                <div class="subheading">
                    <p>
                        <h4><b>Have a question? Got suggestions? Need support?</b></h1>
                    </p>
                    <p>
                        <h5> 
                            Send us an email, or drop by our Facebook and Twitter! We at TeamMVC value feedback and suggestions<br>
                            from our users. If you have something to talk about with us, feel free to contact us via the <br>
                            contact information below, and we will be happy to listen and help.                 
                        <h5>                               
                    </p>
                </div>
                <div class="subheading">
                    <b>
                        TeamMVC Inc., 27 King's College Cir, Toronto, ON M5S CANADA.<br>
                        Email: lendto_contact@gmail.com<br>

                        Phone: +1 (905)-999-9999<br>
                        Monday to Friday from 9:00AM to 5:00PM
                    </b>
                    </div>
                    <div class="row">
                    <div class="col bottom_footer_format_social_media">
                        <table style="height: 100%; width: 100%">
                            <tbody>    
                                <tr>
                                    <td class="align-middle-right"><b>Offical Information</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col bottom_footer_format_social_media_link">
                        <a href="https://www.facebook.com/">
                            <p>
                                <i class="fab fa-facebook" style="color:#375b95"></i> 
                                Facebook 
                            </p>
                        </a>
                        <a href="https://twitter.com/?lang=en">
                            <p>
                                <i class="fab fa-twitter-square" style="color:#4baeea"></i>
                                Twitter
                            </p>
                        </a>
                    </div>
                </div>
                
            </div>
        </section>
    </body>
