<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag 'pages'%>
    </head>

    <body>
        <section class="container white shadow p-3 mb-5 bg-white rounded" id="main_body">
            <div class="pages_title_panel">
                <h1 class="title_formatting"><b>Frequently Asked Questions</b></h1>
            </div>

            <div class="pages_body_formatting ">
                <p>
                    <div class="question h4">What is LendTo?</div>
                    <div> 
                        LendTo is a borrowing and lending application. 
                        It is built to help people who need to keep track of what they lent out, 
                        and also provide an eas way for people to borrow items.
                    </div>
                </p>
                <p>
                    <div class="question h4">Does LendTo cost money?</div>
                    <div> 
                        No! LendTo is free with all of its bells and whistles attached!
                    </div>
                </p>
                <p>
                    <div class="question h4">I can't see my items on the marketplace!</div>
                    <div> 
                        You cannot see your own items the marketplace; this is to prevent you from 
                        borrowing from yourself! But if you cannot see your item after logging out, please
                        make sure it is listed as public.
                    </div>
                </p>
                <p>
                    <div class="question h4">What does public and private mean?</div>
                    <div> 
                        <p>
                            Public indicates that any user can see your item and place 
                            a request to borrow.
                        </p>
                        <p>
                            Private indicates that only your friends can see your item. Keep your items
                            private if you only want lend to your friends!
                        </p>
                    </div>
                </p>
                <p>
                    <div class="question h4">How does the QR Code Function work?</div>
                    <div> 
                        <p>
                            When you create your item for the first time a QR code
                            is generated. When you wish to fill out an item form, simply
                            scan the QR code and the item's information will be automagically
                            filled out!
                        </p>
                    </div>
                </p>
                <p>
                    <div class="question h4">I can't seem to request for an item...</div>
                    <div> 
                        <p>
                            Make sure that you are not overlapping with another user's reserved 
                            timeslot. You can't borrow something that is already being borrowed!
                        </p>
                    </div>
                </p>
                <p>
                    <div class="question h4">I have a question, but its not here!</div>
                    <div> 
                        <p>
                            If you have questions that weren't covered here, contact our support team.
                            We will happily answer any other inquires you may have.
                        </p>
                    </div>

                    <!-- Add more quesitons here -->
                </p>
            </div>
        </section>
    </body>
